body {
    font-family: 'Raleway', sans-serif;

}

a,
a:hover {
    text-decoration: none;
}

.header-section {
    background: #3B5998;
    padding: 10px 0 5px;
    padding: 10px 0 5px;
}

.login {
    float: right
}

.logo {
    padding: 10px 0 5px
}

.logo i {
    width: 340px;
    height: 37px;
    background-position: 0 0;
    background-image: url(../images/wordmark.png);
    background-size: 300px 40px;
    background-repeat: no-repeat;
    display: inline-block;
}

.login label {
    display: block;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 100;
}

.header-section input.form-control {
    border-radius: 0;
    font-size: 14px;
    padding: 0 10px;
    color: #444;
    height: 25px;
}

.header-section input:focus {
    outline: none;
    border-color: rgba(102, 175, 233, 0);
}

.checkbox {
    margin-right: 10px
}

.header-section [type="submit"] {
    text-transform: capitalize;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #365899;

}

.form-inline .form-group {
    margin-right: 15px;
}

.login .form-group a {
    color: #fff
}


.text-info {
    padding-top: 10%;
}


.icon-text-bold {
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    color: black;
}

.icon-text-other {
    font-size: 15px;
    padding-left: 12px;
    color: black;
}

.detail-text img {
    width: 30px;
    height: 30px;
}

.detail-text i {
    width: 565px;
    height: 102px;
    opacity: 0.7;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;

    text-align: center;

}

.detail-text {
    width: 82%;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
}

.detail-text h1 {
    font-size: 45px;
    color: #d55;
    font-weight: 600;
}

.detail-text p {
    font-size: 25px;
    line-height: 1em;
    color: #43464D;
}

.birthday-text {
    font-size: 11px;
    display: block;
    margin-top: 5px;
}

.signup {
    font-family: 'Raleway', sans-serif;
    background-color: #EDF0F5;
}

.signup h2 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.signup p {}

.btn-lg {
    padding: 10px 70px;
    color: #fff;
    text-transform: capitalize;

}

.btn-lg:hover {
    color: #fff;
}

.btn-lg:active {
    color: #fff
}

.signup .form-group {
    margin-bottom: 10px
}

.signup .col-sm-6:first-child {
    padding-right: 20px;
}

.signup .form-control {
    color: #444;
    font-size: 16px;
    height: 44px;
}

.signup .form-control#sel1 {
    height: 35px;
    padding: 5px 10px;
}

.radio label {
    margin-right: 10px;
}

.signup h6 {
    color: #777;
}

.signup p {
    color: #3C3C3C;
    font-size: 14px
}

hr {
    border-top: 1px solid #9C9C9C
}


/**************** footer **************/

.bor-bot {
    border-bottom: 1px solid rgba(136, 136, 136, 0.44);
}

.footer .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    background: transparent
}

/****************** media ****************/

@media (max-width: 460px) {
    .form-inline .form-group {
        width: 100% !important;
        margin-bottom: 2px;
    }
    .header-section {
        padding: 10px 0 30px;
    }
    .header-section [type="submit"] {
        padding: 5px 15px;
    }
    .signup .col-xs-6 {
        width: 100%
    }
}

@media (max-width: 768px) {
    .logo i {
        display: block;
        margin: 0 auto;
    }
    .login {
        float: none
    }
    .form-inline .form-group {
        width: 40%;
        float: left;
    }
    .header-section [type="submit"] {
        margin-top: 15px;
    }
    .push {
        float: right
    }
    .signup .form-control#sel1 {
        width: 32%;
        display: inline;
    }
    .detail-text {
        width: 80%;
    }
    .xs-hidden {
        display: none
    }
    .xs-open {
        display: inherit !important;
    }
}

.xs-open {
    display: none
}